<div style="width: 100%;">
  <div class="sidenav">
    <p class="font-monospace">Choose by language</p>
    <a href="#" *ngFor="let language of languages" (click)="languageChanged(language,$event)">
      {{language.label}}
    </a>
  </div>
    <div class="sidenavCategory">
      <p class="font-monospace">Choose by category</p>
      <a href="#" *ngFor="let category of categories" (click)="categoryChanged(category,$event)">
        {{category.label}}
      </a>
    </div>


  <div class="main">
    <div class="row">
      <div class="col-sm-12" style="position: relative; padding-top: 35px">
        <form>
          <input type="search" (ngModelChange)="searchBooks(key.value)" #key="ngModel" ngModel
                 name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Books by author, title, publishing house, collection..." required>
        </form>
        <div class="d-flex">
          <div class="dropdown; d-inline-block" style="margin-left: 50px">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Order books A-Z by ...
            </button>
            <ul class="dropdown-menu">
              <li><a (click) = "sortBooksByAuthor($event)" class="dropdown-item" href="#">Author</a></li>
              <li><a (click) = "sortBooksByTitle($event)" class="dropdown-item" href="#">Title</a></li>
              <li><a (click) = "sortBooksByPublishingHouse($event)" class="dropdown-item" href="#">Publishing House</a></li>
              <li><a (click) = "sortBooksByCollection($event)" class="dropdown-item" href="#">Collection</a></li>
              <li><a (click) = "sortBooksByNumberOfPages($event)" class="dropdown-item" href="#">Number of pages</a></li>
              <li><a (click) = "sortBooksByYearOfLaunch($event)" class="dropdown-item" href="#">Year of launch</a></li>
            </ul>
          </div>

          <div class="dropdown; d-inline-block; w-50" style="margin-left: 600px">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Order books Z-A by ...
            </button>
            <ul class="dropdown-menu">
              <li><a (click) = "sortBooksByAuthorDesc($event)" class="dropdown-item" href="#">Author</a></li>
              <li><a (click) = "sortBooksByTitleDesc($event)" class="dropdown-item" href="#">Title</a></li>
              <li><a (click) = "sortBooksByPublishingHouseDesc($event)" class="dropdown-item" href="#">Publishing House</a></li>
              <li><a (click) = "sortBooksByCollectionDesc($event)" class="dropdown-item" href="#">Collection</a></li>
              <li><a (click) = "sortBooksByNumberOfPagesDesc($event)" class="dropdown-item" href="#">Number of pages</a></li>
              <li><a (click) = "sortBooksByYearOfLaunchDesc($event)" class="dropdown-item" href="#">Year of launch</a></li>
            </ul>
          </div>
        </div>
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publishing House</th>
            <th>Collection</th>
            <th>Available</th>
            <th>Language</th>
            <th>Number of pages</th>
            <th>Year of launch</th>
            <th>Category</th>
<!--            <th>Book code</th>-->

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let templateBooks of books" >
            <td>  {{templateBooks.title}}</td>
            <td>  {{templateBooks.author}}</td>
            <td>  {{templateBooks.publishingHouse}}</td>
            <td>  {{templateBooks.collection}}</td>
            <td>  {{templateBooks.available}}</td>
            <td>  {{templateBooks.language}}</td>
            <td>  {{templateBooks.numberOfPages}}</td>
            <td>  {{templateBooks.yearOfLaunch}}</td>
            <td>  {{templateBooks.category}}</td>
<!--            <td>  {{templateBooks.bookCode}}</td>-->
            <td *ngIf="commonUtil.isAdminUser()">
              <button (click) = "updateBook(templateBooks.id)" class = "btn btn-info"> Update</button>
              <button (click) = "deleteBook(templateBooks.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
              <!--      <button (click) = "bookDetails(templateBooks.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>-->
            </td>
            <button (click) = "bookDetails(templateBooks.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-12" style="text-align: right;padding-left: 10px">
        <mat-paginator [length]="totalData" [pageSize]="PAGE_SIZE" [pageIndex]="currentPage" (page)="pageChanged($event)" aria-label="Please select a page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>


