
<!--<app-register-user></app-register-user>-->
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <a *ngIf="!commonUtil.getLoginUser()" routerLink="/home" routerLinkActive="active" class="btn btn-outline">Home</a>
      <a *ngIf="commonUtil.getLoginUser()" routerLink="/getAllBooks" routerLinkActive="active" class="nav-link">Home</a>
      <a *ngIf="!commonUtil.getLoginUser()" routerLink="/register" routerLinkActive="active" class="btn btn-outline-secondary">Register</a>
      <a *ngIf="!commonUtil.getLoginUser()" routerLink="/login" routerLinkActive="active" class="btn btn-outline-secondary">Login</a>
      <a *ngIf="commonUtil.getLoginUser()" routerLink="/addBook" routerLinkActive="active" class="btn btn-outline-secondary">Add Book in System</a>

    </div>
    <div class="col-sm-4" style="text-align: right;padding-left: 10px">
      <button *ngIf="commonUtil.getLoginUser()" class="btn btn-outline-secondary" (click)="logout($event)">Logout</button>
    </div>
  </div>

<!--  <div class="text-right">-->

<!--  <nav>-->
<!--      <ul>-->
<!--        <li class = "nav-item">-->
<!--          <a routerLink="/register" routerLinkActive="active" class="nav-link">Register</a>-->
<!--        </li>-->
<!--        <li class = "nav-item">-->
<!--          <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--  </nav>-->
  <router-outlet></router-outlet>
</div>
