<!--<app-register-user></app-register-user> -->
<div class="container">
  <nav>
      <ul>
        <a routerLink="/getAllBooks" routerLinkActive="active" class="nav-link">Home</a>
        <li class = "nav-item">
          <a routerLink="/register" routerLinkActive="active" class="nav-link">Register</a>
        </li>
        <li class = "nav-item">
          <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
        </li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

