<h3> View Book Details</h3>
<div>
  <div>
    <label> <b> Title: </b> </label> {{book.title}}
  </div>
  <div>
    <label> <b> Author: </b></label> {{book.author}}
  </div>
  <div>
    <label> <b> Category: </b></label> {{book.category}}
  </div>
  <div *ngIf="book.uploadedFileName">
    <label> <b> File: </b></label>
    <a href="{{baseUrl + book.uploadedFileName}}" target="_blank">Uploaded File</a>
  </div>
</div>

<script src="https://use.fontawesome.com/a6f0361695.js"></script>

<h2 id="fh2">WE APPRECIATE YOUR REVIEW!</h2>
<h6 id="fh6">Your review will help us to improve our web hosting quality services.</h6>


<form id="feedback" action="">
  <div class="pinfo">Your personal info</div>

  <div class="form-group">
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input  First name="name" placeholder="Write your first name here..." class="form-control"  type="text">
      </div>
    </div>
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input  Last name="name" placeholder="Write your last name here..." class="form-control"  type="text">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
        <input  name="URL" placeholder="Write your email here..." class="form-control"  type="text">
      </div>
    </div>
  </div>
  <div class="pinfo">Write your feedback.</div>


  <div class="form-group">
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
        <textarea class="form-control" id="review" rows="3"></textarea>

      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>


</form>

