<div class="col-md-6 offset-md-3">
  <h3> Add a book is system </h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label> Title </label>
      <input type="text" class ="form-control" id = "firstName"
             [(ngModel)] = "book.title" name = "firstName">
    </div>

    <div class="form-group">
      <label> Author</label>
      <input type="text" class ="form-control" id = "lastName"
             [(ngModel)] = "book.author" name = "lastName">
    </div>
    <div class="form-group">
      <label> Publishing house</label>
      <input type="text" class ="form-control" id = "publishingHouse"
             [(ngModel)] = "book.publishingHouse" name = "lastName">
    </div>
    <div class="form-group">
    <label> Collection</label>
    <input type="text" class ="form-control" id = "collection"
           [(ngModel)] = "book.collection" name = "lastName">
  </div>
    <div class="form-group">
    <label>Available</label>
      <div>
      <label ngbButtonLabel class="radio-inline">
        <input ngbButton type="radio" [value]="true" name="available" [(ngModel)] = "book.available"> true
      </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <label ngbButtonLabel class="radio-inline">
        <input ngbButton type="radio" [value]="false" name="available" [(ngModel)] = "book.available"> false
      </label>
      </div>
            <!--<input ngbButton type="radio" [value]="true" class ="form-control" id = "available"
                   [(ngModel)] = "book.available" name = "lastName">-->


<!--      <label ngbButtonLabel class="radio-inline">-->
<!--        <input ngbButton type="radio" [value]="true"> true-->
<!--        <input ngbButton type="radio" [value]="false"> false-->
<!--      </label>-->

<!--      <label ngbButtonLabel class="radio-inline">-->
<!--        <input ngbButton type="radio" [value]="false"> false-->
<!--      </label>-->
  </div>
    <div class="form-group">
    <label> Language </label>
     <select [(ngModel)] = "book.selectedLanguage" class="form-control" id="language" name="language">
       <option *ngFor="let lang of book.language" [ngValue]="lang">{{lang.label}}</option>
     </select>
    <!--<input type="text" class ="form-control" id = "language"
           [(ngModel)] = "book.language" name = "lastName">-->
  </div>
    <div class="form-group">
    <label> Number of pages</label>
    <input type="number" class ="form-control" id = "numberOfPages" min="1" max="800"
           [(ngModel)] = "book.numberOfPages" name = "lastName">
  </div>
    <div class="form-group">
      <label> Year of Launch</label>
      <input type="number" class ="form-control" id = "yearOfLaunch" min="1700" max="2022"
             [(ngModel)] = "book.yearOfLaunch" name = "lastName">
    </div>
<!--    <div class="form-group">-->
<!--      <label> Category</label>-->
<!--      <input type="text" class ="form-control" id = "category"-->
<!--             [(ngModel)] = "book.category" name = "lastName">-->
<!--    </div>-->
    <div>
      <label> Category</label>
      <select [(ngModel)] = "book.selectedCategory" class="form-control" id="category" name="language">
        <option *ngFor="let lang of book.category" [ngValue]="lang">{{lang.label}}</option>
      </select>
    </div>

    <div class="form-group">
      <label> Email Id</label>
      <input type="text" class ="form-control" id = "emailId"
             [(ngModel)] = "book.bookCode" name = "emailId">
    </div>
    <div class="form-group">
      <label> File</label>
      <input type="file" class ="form-control" name="file" id="file" (change)="fileChangeHandler($event)">
    </div>

    <button class = "btn btn-success" type ="submit">Submit </button>

    <button type="reset" value="Reset">Reset</button>

  </form>
</div>
